node-red flow.json
[{"id":"1c73b350.c607ad","type":"tab","label":"Assistant","disabled":false,"info":""},{"id":"363f81d1.1926ce","type":"ui_text","z":"1c73b350.c607ad","group":"208d2847.0725c8","order":1,"width":"15","height":"11","name":"","label":"Output","format":"{{msg.payload}}","layout":"row-spread","x":710,"y":300,"wires":[]},{"id":"f38a0a33.618ed8","type":"debug","z":"1c73b350.c607ad","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":650,"y":100,"wires":[]},{"id":"49a79099.4d72f","type":"watson-conversation-v1","z":"1c73b350.c607ad","name":"Assistant","workspaceid":"dd45ed37-012e-488a-ab5b-5f78797283b9","multiuser":false,"context":false,"empty-payload":false,"service-endpoint":"https://api.eu-gb.assistant.watson.cloud.ibm.com/instances/ab6cf061-8743-45c4-8ca8-d79f2c90d468","timeout":"","optout-learning":false,"x":380,"y":120,"wires":[["f38a0a33.618ed8","b2e3586f.348248"]]},{"id":"26dd1d6.c7005e2","type":"ui_text","z":"1c73b350.c607ad","group":"7f2db856.4a73f8","order":2,"width":0,"height":0,"name":"","label":"Question: ","format":"{{msg.payload}}","layout":"row-spread","x":320,"y":280,"wires":[]},{"id":"891d2d10.71e0b","type":"function","z":"1c73b350.c607ad","name":"","func":"msg.payload = msg.payload.input;\nreturn msg;","outputs":1,"noerr":0,"x":210,"y":200,"wires":[["26dd1d6.c7005e2","49a79099.4d72f"]]},{"id":"b2e3586f.348248","type":"function","z":"1c73b350.c607ad","name":"","func":"msg.payload.text = \"\";\nif(msg.payload.context.webhook_result_1){\n    for(var i in msg.payload.context.webhook_result_1.results){\n        msg.payload.text = msg.payload.text+ \"\\n\" + msg.payload.context.webhook_result_1.results[i].text;\n        \n    }\n    msg.payload = msg.payload.text;\n}\nelse\nmsg.payload = msg.payload.output.text[0]\nreturn msg;","outputs":1,"noerr":0,"x":570,"y":220,"wires":[["363f81d1.1926ce"]]},{"id":"14702de3.ef1782","type":"ui_form","z":"1c73b350.c607ad","name":"","label":"","group":"7f2db856.4a73f8","order":1,"width":"0","height":"0","options":[{"label":"Ask Anything!","value":"input","type":"text","required":true,"rows":null}],"formValue":{"input":""},"payload":"","submit":"submit","cancel":"cancel","topic":"","x":80,"y":280,"wires":[["891d2d10.71e0b"]]},{"id":"208d2847.0725c8","type":"ui_group","z":"","name":"Reply: ","tab":"e6941bd8.3633e8","order":2,"disp":true,"width":20,"collapse":false},{"id":"7f2db856.4a73f8","type":"ui_group","z":"","name":"User Input","tab":"e6941bd8.3633e8","order":1,"disp":true,"width":8,"collapse":false},{"id":"e6941bd8.3633e8","type":"ui_tab","z":"","name":"Customer HelpDesk","icon":"dashboard","disabled":false,"hidden":false}]